.qty
{
	width: 80px !important;
}
.qtyBag
{
	width: 80px !important;
}
.rate
{
	width: 80px !important;
}
.rownumber
{
	width: 10px !important;
}

.Amount
{
	width: 120px !important;
}

.itemsDropDown
{
	width: 40px !important;
}
table.items {
  table-layout: auto;
  width: 100%;  
}