{% extends "theme2.html" %}

{% block title %}
DVK Polymers
{% endblock %}

{% block extCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/invoice.css') }}" >
{% endblock %}


{% block extJS %}

{% endblock %}

{% block body %}

 <div class="main-panel">
          <div class="content-wrapper">

	      	  <div class="col-14 grid-margin stretch-card">
	            <div class="card">
	              <div class="card-body">
	                <h4 class="card-title">Purchase Goods</h4>
	                <p class="card-description"> Give appropriate values</p>

	                <form class="form-sample" action="/purchase" method="post" id="purchaseForm">
                        <div class="form-group">
								<label for="billDate">Bill Date</label>
                               <div id="datepicker-popup" class="input-group date datepicker">
                          <input type="text" class="form-control" name="billDate" id='date' placeholder="Bill Date" value="{{ vars.get('billDate')|safe }}" required>
                          <span class="input-group-addon input-group-append border-left">
                            <span class="mdi mdi-calendar input-group-text"></span>
                          </span>
                        </div>
    	                   </div>

	                	<div class="form-group">
	                			<label for="creditorDropDown">Party Name</label>
                      			{{ vars.get('creditors')|safe }}
                      	</div>
                      	<a href="/addparty" target="_blank" class="btn btn-sm btn-outline-primary">Add Party</a>
                        <a href="/additem" target="_blank" class="btn btn-sm btn-outline-primary">Add Item</a>

	                	<table class="table table-hover items">
	                      <thead>
	                        <tr>
	                          <th>SNo.</th>
	                          <th>Items</th>
	                          <th>Qty in Kgs</th>
	                          <th>Qty in Bags</th>
	                          <th>Rate</th>
	                          <th>Amount</th>
	                          <th></th>
	                        </tr>
	                      </thead>
	                      <tbody id='itemsTable' class="items">
	                        <tr id='item1'>
	                        	<td id='sno1'>1.</td>
	                          <td id='itemId1'>
	                          	{{ vars.get('items')|safe }}
	                          	<p class="card-description" id="currQty1"></p>
	                          </td>
	                          <td id='itemQty1'>
	                          	<input name='quantity1' type="number" id="quantity1" placeholder="Quantity in kGs" class='qty form-control' title="Kgs" step="0.01" required>
	                          </td>
	                          <td id='itemQtyBag1'>
	                          	<input type="number" id="quantityBag1" placeholder="Quantity in Bags" class='qtyBag form-control' title="Bags" step="0.01">
	                          </td>
	                          <td id='itemRate1'>
	                          	<input name='rate1' type="number" id="Rate1" placeholder="Rate per kG" class='rate form-control' title="Enter Rate" step="0.01" required>
	                          </td>
	                          <td id='itemAmt1'>
	                          	<input name='amount1' type="number" id="Amount" placeholder="Amount" title="Amount" step="0.01" class="Amount form-control" readonly>
	                          </td>
	                          <td id='addItem'><i class="mdi mdi-backspace icon-md " style='float:left;' onclick="removeItem('1')"></i>
	                          	<button id='addButton' class="btn btn-block btn-sm btn-gradient-primary mt-4" onclick="addItem('2');">+ Add an Item</button>
	                          </td>
	                        </tr>
	                    	</tbody>
                		</table>

                		<div class="form-group">
								<label for="narration">Narration</label>
                				<textarea name="narration" form='purchaseForm' class='form-control' placeholder="Narration"></textarea>
                		</div>
                		<div class="form-group">
								<label for="totalAmount">Total:</label>
                		    	 <input name='totalAmount' type="number" id="totalAmount" placeholder="Total Amount" title="Total Amount" step="0.01" class ='form-control' readonly>
                		</div>
	                  <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
	                </form>
	              </div>
	            </div>
	          </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>

{% endblock %}

{% block end_extJS %}

<script src="../static/js/invoice.js"></script>
<script type="text/javascript">

	$(document).on('change', '.itemDropDown', function(){
		var itemNum = this.name.split('m')[1];
		var item = this.options[this.selectedIndex].value;
	$.ajax({
        url : '/get/qty?id=' + item,
        success: function(data) {
            $('#currQty'+itemNum).html(data['currQty']+" Kgs");
        }
    });
});


	function removeItem(currItem){
		var myTable = document.getElementById("itemsTable");
		//add function to put add item button if the to be deleted item is the last one
		myTable.deleteRow(parseInt(currItem)-1);
	}

	function addItem(newItem){
		var addButton=document.getElementById('addButton')
		document.getElementById("addItem").removeChild(addButton);
		document.getElementById("addItem").setAttribute("id"," ");

		var myTable = document.getElementById("itemsTable");
		 var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(-1);
        var nextVal = parseInt(newItem, 10)
		nextVal+=1



		 var qtyBox = document.createElement("input");
		 qtyBox.setAttribute("name", "quantity" + newItem);
		 qtyBox.setAttribute("type", "number");
		 qtyBox.setAttribute("class", "qty form-control");
		 qtyBox.setAttribute("step", "0.01");
		 qtyBox.setAttribute("id",  "quantity" + newItem);
		 qtyBox.setAttribute("placeholder", "Quantity in kGs");
		 qtyBox.setAttribute("title", "Kgs");
		 qtyBox.setAttribute("required", "");

		 var qtyBagBox = document.createElement("input");
		 qtyBagBox.setAttribute("type", "number");
		 qtyBagBox.setAttribute("class", "qtyBag form-control");
		 qtyBagBox.setAttribute("step", "0.01");
		 qtyBagBox.setAttribute("id",  "quantityBag" + newItem);
		 qtyBagBox.setAttribute("placeholder", "Quantity in Bags");
		 qtyBagBox.setAttribute("title", "Bags");

		 var rateBox = document.createElement("input");
		 rateBox.setAttribute("name", "rate" + newItem);
		 rateBox.setAttribute("type", "number");
		 qtyBox.setAttribute("step", "0.01");
		 rateBox.setAttribute("class", "rate form-control");
		 rateBox.setAttribute("id",  "Rate" + newItem);
		 rateBox.setAttribute("placeholder", "Rate per kG");
		 rateBox.setAttribute("title", "Enter Rate");
		 rateBox.setAttribute("required", "");

		 var amtBox = document.createElement("input");
		 amtBox.setAttribute("name", "amount" + newItem);
		 amtBox.setAttribute("type", "number");
		 amtBox.setAttribute("step", "0.01");
		 amtBox.setAttribute("id",  "Amount" + newItem);
		 amtBox.setAttribute("class", "Amount form-control");
		 amtBox.setAttribute("placeholder", "Amount");
		 amtBox.setAttribute("title", "Amount");
		 amtBox.setAttribute("readonly", "");

        var addRowBox = document.createElement("button");
        addRowBox.setAttribute("onclick", "addItem("+String(nextVal)+");");
        addRowBox.setAttribute("id", "addButton");
        addRowBox.setAttribute("class", "btn btn-block btn-sm btn-gradient-primary mt-4");
        addRowBox.innerHTML = "+ Add an Item";

        var removeIcon = document.createElement("i");
        removeIcon.setAttribute("class", "mdi mdi-backspace icon-md");
        removeIcon.setAttribute("style", "float:left;");
        removeIcon.setAttribute("onclick", "removeItem("+newItem+")");



        var currentCell = currentRow.insertCell(-1);
        currentRow.setAttribute("id", "item"+newItem);

        currentCell.setAttribute("id", "sno" + newItem);
        currentCell.innerHTML = newItem + ".";

        currentCell = currentRow.insertCell(-1);
        currentCell.setAttribute("id", "itemId" + newItem);
        currentCell.innerHTML = "{{ vars.get('items')|safe }} <p class='card-description' id='currQty"+newItem+"'></p>";

        document.getElementById("itemId" + newItem).children[0].setAttribute("name", "item"+newItem);

        currentCell = currentRow.insertCell(-1);
        currentCell.setAttribute("id", "itemQty" + newItem);
        currentCell.appendChild(qtyBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.setAttribute("id", "itemQtyBag" + newItem);
        currentCell.appendChild(qtyBagBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.setAttribute("id", "itemRate" + newItem);
        currentCell.appendChild(rateBox);

		currentCell = currentRow.insertCell(-1);
        currentCell.setAttribute("id", "itemAmt" + newItem);
        currentCell.appendChild(amtBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.setAttribute("id","addItem");
        currentCell.appendChild(removeIcon);
        currentCell.appendChild(addRowBox);

	}
</script>

   <script src="{{ url_for('static', filename='js/formpickers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-addons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
{% endblock %}