{% extends "theme2.html" %}

{% block title %}
DVK Polymers
{% endblock %}

{% block extCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2-bootstrap.min.css') }}" >
{% endblock %}

{% block body %}
 <div class="main-panel">
          <div class="content-wrapper">

	      	  <div class="col-12 grid-margin stretch-card">
	            <div class="card">
	              <div class="card-body">
	                <h4 class="card-title">Received Goods</h4>
	                <p class="card-description"> Give appropriate values</p>
	                <form class="form-sample" action="/receive" method="post">
	                	<div class="row">
	                        <div class="col-md-6">
                                 <div class="form-group row" >
                                      <label class="col-sm-4 col-form-label">Select Item Name</label>
                                     <div class="col-sm-8">
                                         <select class="form-control js-example-basic-single" style="width:100%">
{#                                      <select class="js-example-basic-single select2-hidden-accessible" style="width:100%" data-select2-id="1" tabindex="-1" aria-hidden="true">#}
                                            <option value="AL" data-select2-id="3">Alabama</option>
                                            <option value="WY" data-select2-id="18">Wyoming</option>
                                            <option value="AM" data-select2-id="19">America</option>
                                            <option value="CA" data-select2-id="20">Canada</option>
                                            <option value="RU" data-select2-id="21">Russia</option>
                                      </select>
                                         </div>
                                </div>
{#	                          <div class="form-group row">#}
{##}
{#	                            <label class="col-sm-4 col-form-label">Select Item Name</label>#}
{#	                            <div class="col-sm-8">#}
{#	                              {{ vars.get('items')|safe }}	#}
{#	                            </div>#}
{#	                          </div>#}
	                        </div>
	                        <div class="col-md-6">
	                          <div class="form-group row">
	                            <label class="col-sm-4 col-form-label">Select Purchase Name</label>
	                            <div class="col-sm-8">
	                              {{ vars.get('creditors')|safe }}	
	                            </div>
	                          </div>
	                        </div>
	                     </div>
	                     <div class="row">
	                        <div class="col-md-6">
	                          <div class="form-group row">
	                            <label class="col-sm-4 col-form-label">Enter Quantity</label>
	                            <div class="col-sm-8">
	                              <input name='quantity' type="number" id="quantity" name="Quantity" placeholder="Quantity in kGs" title="Enter Quantity" required>
	                            </div>
	                          </div>
	                        </div>
	                        <div class="col-md-6">
	                          <div class="form-group row">
	                            <label class="col-sm-4 col-form-label">Select Date</label>
	                            <div class="col-sm-8">
							        <input type="date" name="receipt_date" value="{{ vars.get('billDate')|safe }}">
	                            </div>
	                          </div>
	                        </div>
	                     </div>
	                   <div class="dropdown example">
      <h4 class="ui header">Search Selection</h4>
      <p>A selection dropdown can allow a user to search through a large list of choices.</p>
      <div class="ui simple search selection dropdown" id="search-select3">
        <input type="hidden" name="country">
        <i class="dropdown icon"></i>
        <div class="default text">Select Country</div>
        <div class="menu">
        <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
        <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
        <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
        <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
        <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
        <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>

       </div>
   </div>
</div>
	                  <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
	                </form>
	              </div>
	            </div>
	          </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>

{% endblock %}

{% block end_extJS %}

    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead.js') }}"></script>

{% endblock %}