<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}
      Edit Bill
      {% endblock %}
    </title>
    <!-- plugins:css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.bundle.base.min.css') }}" >
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}" />

{% block extCSS %}

{% endblock %}
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css"> -->
<!-- <script src="../static/js/semantic.min.js"></script> -->
{% block extJS %}

{% endblock %}

  </head>
  <body>

<div class="container-scroller">

{%if vars.namex%}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="/home"><img src="{{ url_for('static', filename='image/logo.svg') }}" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{{ url_for('static', filename='image/logo-mini.svg') }}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="nav-profile-img">
            <img src="{{ url_for('static', filename='image/faces/face1.jpg') }}" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{vars.namex}}</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="#">
            <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
        </div>
      </li>
      <li class="nav-item d-none d-lg-block full-screen-link">
        <a class="nav-link">
          <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
        </a>
      </li>

      <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="/logout">
          <i class="mdi mdi-power"></i>
        </a>
      </li>
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="mdi mdi-format-line-spacing"></i>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>

<div class="container-fluid page-body-wrapper">

    <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="/home" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{{ url_for('static', filename='image/faces/face1.jpg') }}" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{vars.namex}}</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#invoice" aria-expanded="false" aria-controls="invoice">
                <span class="menu-title">Invoice Entry</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="invoice">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/sales">
                      <span class="menu-title">Sales</span>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/purchase">
                      <span class="menu-title">Purchase</span>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/receipt">
                      <span class="menu-title">Receipt</span>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/payment">
                      <span class="menu-title">Payment</span>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#inventory" aria-expanded="false" aria-controls="inventory">
                <span class="menu-title">Inventory Links</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="inventory">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/receive">
                      <span class="menu-title">Receive Goods</span>
                      <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dispatch">
                      <span class="menu-title">Dispatch</span>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#management" aria-expanded="false" aria-controls="management">
                <span class="menu-title">Management</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="management">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/addparty">
                      <span class="menu-title">Add Party</span>
                      <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/additem">
                      <span class="menu-title">Add Item</span>
                      <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/viewpartybills">
                      <span class="menu-title">View Account</span>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">graph</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/login"> Monthly </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/login"> Yearly </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/login"> Purchase </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/login"> Sales</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/login"> Inventory</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

{%endif%}


{% block body %}

{% endblock %}
      <!-- page-body-wrapper ends -->
</div>
    <!-- container-scroller -->
</div>
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
    <!-- endinject -->
{% block end_extJS %}

{% endblock %}
  </body>

</html>