{% extends "theme2.html" %}

{% block title %}
DVK Polymers
{% endblock %}


{% block extCSS %}
{% endblock %}

{% block extJS %}

{% endblock %}

{% block body %}

 <div class="main-panel">
          <div class="content-wrapper">
	      	  <div class="col-14 grid-margin stretch-card">
	            <div class="card">
	              <div class="card-body">
	                <h4 class="card-title">Party Accounts</h4>
	                <p class="card-description"> Give appropriate values</p>
	                <form class="form-sample" action="/viewpartybills" method="post" id="displayForm">

                      <div class="form-group">
                        <label for="fromDate">From Date</label>
                        <input type="date" class='form-control' name="fromDate" id='searchFrom' placeholder="From Date" required>
                     </div>

                     <div class="form-group">
                        <label for="toDate">To Date</label>
                        <input type="date" class='form-control' name="toDate" id='searchTo' placeholder="To Date" required>
                     </div>
                      	
                      	<div class="form-group">
                        	<label for="typeDropDown">Party Type</label>
                      		<select name="typeDropDown" class="form-control" id="typeDropDown">
                      			<option selected='selected' disabled='disabled'> Select Party Type</option>
                      			<option value="creditor">Creditors</option>
                      			<option value="debtor">Debtors</option>
                      		</select>
                      	</div>
	                	
	                	    <div class="form-group" >
							            <label for="partyDropDown">Party Name</label>
                      		<div id="partyDropDown">	
                      		</div>
                      	</div>


	                	<table class="table table-bordered table-hover items">
	                      <thead>
	                        <tr class='billHead'>
	                        	<th></th>
	                          <th>Bill No.</th>
	                          <th>Bill Date</th>
	                          <th>Debited Amount</th>
	                          <th>Credited Amount</th>
	                          <th></th>
	                        </tr>
	                      </thead>
	                      <tbody id='billsTable'>
	                        
	                      </tbody>
                		</table>
	                </form>
	              </div>
	            </div>
	          </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
{% endblock %}

{% block end_extJS %}
<script type="text/javascript">

	function editBillRedirect(bill_no){
		console.log("edit function");
    console.log(this);
    window.location = '/editBill?id=' + bill_no;
	}

	function getBilldata(bill_no){
		$.ajax({
            url : '/get/bill/details?id=' +bill_no ,
            success: function(data) {
            	var i;
            	for(i=0;i<data['itemDetails'].length;i++){
            		var element = $('#'+bill_no+'-details');
                	if(i!=0){
                		var myTable = document.getElementById("billsTable");
                		var newElement = document.createElement("tr");
                		
        				    newElement.innerHTML=data['itemDetails'][i];

                		
                		element.after(newElement);
						// element.parentNode.insertBefore(newElement, element.nextSibling);
        				// var currentRow = myTable.insertRow(currentIndex);

                	}
                	else{

                		element.html(data['itemDetails'][i]);
                	}
            	}
            	console.log("data successfully loaded!!");
                $('.'+bill_no+'-toggle').attr('style','');
            }
        });
	}

</script>
<script type="text/javascript">

	$("a[id^=bill]").click(function(event) {
    $("#bill" + $(this).attr('id').substr(5)).slideToggle("slow");
    event.preventDefault();
	});


	$(document).on('change', '#typeDropDown', function(){

		$.ajax({
            url : '/get/parties?type=' + this.value,
            success: function(data) {
                $('#partyDropDown').html(data['dropDown']);
            }
        });
	});

  // $(document).on('change','#searchFrom', function(){

  //   var from = $("#searchFrom").val();
  //   var to = $("#searchTo").val();

  //   var id = $()


  // });
	$(document).on('change', '#debtorDropDown', function(){

    var from = $("#searchFrom").val();
    var to = $("#searchTo").val();

    if(!from)
      from="9999";
    if(!to)
      to="9999";

		$.ajax({
            url : '/get/party/bills?id=' + this.value + '&type=debtor&from=' + String(from) + '&to='+String(to),
            success: function(data) {
                $('#billsTable').html(data['tbody']);
                sortByDate();
            }
        });
	});

	$(document).on('change', '#creditorDropDown', function(){

    var from = $("#searchFrom").val();
    var to = $("#searchTo").val();

    if(!from)
      from="9999";
    if(!to)
      to="9999";

		$.ajax({
            url : '/get/party/bills?id=' + this.value + '&type=creditor&from=' + String(from) + '&to='+String(to),
            success: function(data) {
                $('#billsTable').html(data['tbody']);
                sortByDate();
            }
        });
	});

function sortByDate() {
  var tbody = document.querySelector("#billsTable");

  var from = convertDateNew($("#searchFrom").val());
  var to = convertDateNew($("#searchTo").val());

  // get trs as array for ease of use
  var rows = [].slice.call(tbody.querySelectorAll(".bill"));
  
  rows.sort(function(a,b) {
    return convertDate(a.cells[2].innerHTML) - convertDate(b.cells[2].innerHTML);
  });
  
  rows.forEach(function(v) {
    // console.log(v);

    var show = true;
    var date = convertDateNew(v.cells[2].innerHTML);

    if (from && date < from)
      show = false;
    
    //if to date is valid and row date is greater than to date, hide the row
    if (to && date > to)
      show = false;

    if (show)
      tbody.appendChild(v); // note that .appendChild() *moves* elements
    else
      tbody.remove(v);


  });

  var rowsEnd = [].slice.call(tbody.querySelectorAll(".billEnd"));
  rowsEnd.forEach(function(v) {
    tbody.appendChild(v); // note that .appendChild() *moves* elements
  });

}
function convertDate(d) {
  var p = d.split("-");
  return +(p[2]+p[1]+p[0]);
}
function convertDateNew(d) {
  var p = d.split(" ")[0].split("-");
  return +(p[0]+p[1]+p[2]);
}
</script>

<style type="text/css">
	.bill{
		
	}

.billHead {
  background-color: #36304a;
  color: #fff;
  font-family: "Montserrat-Medium" !important;
  text-transform: uppercase;
}


	.billDetailHead{

    background-color: #808080;
	}

	.billDetail{

	}
</style>

{% endblock %}